@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Pacifico&family=Roboto:wght@300&display=swap");

$primary: #fff;
$complimentary: black;
$accent: green;


$primaryFont: Roboto;
$complimentaryFont: Montserrat;
$accentFont: Pacifico;

@mixin mobile-landscape {
  @media only screen and (min-width: 650px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin large-desktop {
  @media only screen and (min-width: 1300px) {
    @content;
  }
}
