@import "./_constants";

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
html{
  font-size:17px;
}

.header {
  color:$complimentary;
  background-color: $primary;
  visibility: hidden;
}
.nav{
  background-color: $complimentary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px 3px;
  padding:.5em .5em;

  @include tablet{
    font-size:1.2em;
  }
  
  @include large-desktop{
    font-size:140%;
  }
}

figcaption{
  color:$primary;
  font-family: $accentFont;
  font-weight: bold;

  @include mobile-landscape{
    margin-left:1em;
  }
}

#ham{
  @include mobile-landscape{
    display:none;
   }
 
  div{
    background-color: $primary;
    margin-top:3px;
    height:3px;
    width:27px;
  }
}

#slider{
  background-color: $complimentary;
  position: fixed;
  top:0;
  bottom:0;
  right:-70vw;
  width: 70vw;
  z-index:10;
  transition: .5s ease-in-out;

  @include mobile-landscape{
    position:unset;
    width:unset;
    transition:unset;
  }
}

#cross{
  margin-top: 1.3em;
  float: right;
  margin-right:10px;

  @include mobile-landscape{
   display:none;
  }

  div{
    background-color: $primary;
    margin-top:3px;
    height:3px;
    width:27px;
  }
  .div1{
    transform: rotate(45deg) translate(-2px,0px);
  }
  .div2{
    transform: rotate(-45deg) translate(4px,-6px);
  }
}

ul{
  margin-top: 50%;

  @include mobile-landscape{
    margin-top:unset;
    display:flex;
    align-items:center;
   }
 

  li{
    list-style-type: none;
    text-align: center;
    margin:10px auto;
    
    @include mobile-landscape{
      margin:0.5em 1em;
    }
    
    a{
      font-family:$primaryFont;
      color: $primary;
      text-decoration: none;
    }
  }
}

#hero{
  padding:2em;
  
  @include mobile-landscape{
    padding:4em;
  }
  
  @include tablet{
    padding:5em;
  }

  @include desktop{
    padding:7em;
  }
 
}
.img-container{
  display:grid;
  place-content:center;
}

.img{
  width:100px;

  @include desktop{
    width:150px;
  }
 
  @include large-desktop{
    width:250px;
  }
  
}
.heading, .subheading{
  text-align:center;
  font-family:$primaryFont;
  
}
.heading{
  font-weight:bolder;
  padding:.3em 0;
  word-wrap:break-word;

  @include tablet{
    font-size:2.5em;
  }

  @include desktop{
    font-size:3.5rem;
  }

  @include large-desktop{
    font-size:403%;
  }
}
.subheading{
  @include tablet{
    font-size:1.5em;
  }

  @include large-desktop{
    font-size:150%;
  }
}
.button-container{
  display:grid;
  place-content:center;
}
.button{
  text-align:center;
  text-decoration:none;
  background-color:$complimentary;
  color:$primary;
  font-family:$primary;
  font-weight:bold;
  padding:.7em 2em;
  border-radius:0.3em;
  display:block;
  width:100% ;
  margin-top:1em;
  
  @include tablet{
    font-size:1.2em;
  }
 
}